@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/* html {
    background: coral;
    background-image: url("The_Simpsons.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
} */

.background {
    filter: blur(1px);
    min-height: 100%;
    min-width: 200px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    @media screen and (max-width: 400px){
        img.bg {
            left: 50%; 
            margin-left: -320px;
        }
    }
    }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: coral;
}

.woohoo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    box-shadow: 4px 4px 14px black;
    border-radius: 25px;
}

.center {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  .center-2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bolder;
    color: #ffde00;
    text-shadow: 5px 5px 5px #111;
  }

.container {
    max-width: 200px;
    margin: auto;
}

.info-text {
    text-align: center;
    margin-top: 50%;
    font-family: inherit;
    /* color: #f1a604; */
    text-shadow: 3px 2px 5px black;
}

/* .h1, .p {
    color: #f3d302;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
} */

.btn {
    position: absolute;
    top: 92.5%;
    left: 45%;
    background: rgb(17, 17, 17);
    padding: 15px 20px;
    margin-top: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-family: inherit;
    transition: all .2s;
}

.btn:hover {
    opacity: .8;
    color: rgb(252, 139, 0);
    font-size: 14px;
    background: rgb(14, 1, 74);
}